*{
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--letter_font);
}
<<<<<<< HEAD
=======
:root{
    --font_color:#01346B;
    --icon_color:#0185e8;
    --letter_font: "Inter", serif;
}
hr{
    border: 2px solid var(--icon_color);
    border-radius: 50px;
    width: 100%;
}


/*-----------------------CARDS------------------------*/
.cards__ubi{
    margin: 50px; /*Esto se puede editar, lo puse solo por comodidad a la hora de dar estilo*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    max-width: 350px;
    border-radius: 10px;
    border: solid 1px;
    border-color: var(--icon_color);
    overflow: hidden;
}

.card__img{
    width: 350px;
    height: 200px;
    overflow: hidden;
    background: cover;
}
.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__title{
    display: flex;
    justify-content: left;
    padding: 12px;
    font-size: 10px;
    color: var(--font_color);
    font-weight: bold;
    text-align: center;
}
.card__text{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 12px;
    font-size: 14px;
    color: var(--font_color);
}
.card__text p{

    margin-left: 10px;
    padding: 0;
}
.card__text img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.--servicios{
    transform: translateX(-2px);
}
.--servicios p{
    z-index: 5;
    transform: translateX(-8px);
}

.btn__ver{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--icon_color);
    color: white;
}
.btn__ver button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: var(--icon_color);
    color: white;
    border: solid 2px;
    font-size: 15px;
    border-color: white;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.btn__ver button:hover{
    background-color: white;
    color: var(--icon_color);
    border-color: var(--icon_color);
    transition: background-color 0.3s;
}


>>>>>>> e9593833668be49991a4cfc45a40b6e19fe3f609


/*-------------------------INFO ADI-------------------------*/

.info__adicional{
    display: flex;
    gap: 40px;
    max-width: 650px;
    min-width: 300px;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
}
.text__container{
    color: var(--icon_color);
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}

.text{
    display: flex;
    flex-direction: column;
    width: 170px;
    text-align: center;
}
.text p{
    color: var(--font_color);
    font-weight: 600;
    padding: 10px;
}

.info__title{
    color: var(--font_color);
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    text-align: center;
}