:root{
    --font_color:#01346B;
    --icon_color:#0185e8;
    --back_color: #003876;
    --letter_font: "Inter", serif;
}

.container{
    z-index: 5;
    transform: translateX(150px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--back_color);
    width: 80%;
    height: 7cm;
}
