:root{
    --font_color:#01346B;
    --icon_color:#0185e8;
    --letter_font: "Inter", serif;
}

.container{
    z-index: 5;
    transform: translateX(150px);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--font_color);
    width: 80%;
}