.Buscador{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F7FF;
    .InBuscador{
        transform: translateY(-80px);
        width: 45.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
        border: none;
        border-radius: 30px;
        background: white;
        padding: 5px;
        box-shadow: 1px 1px 5px 5px #8080801b;

        .Buscador_div1{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            button{
                height: 1.5cm;
                width: 4cm;
                font-size: 18px;
                font-weight: 600;
                color: #01346B;
                border-radius: 30px;
                border: 1px solid #6DB0E2;
                background: #EEF5FF;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                i{
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .Buscador_categorias{
                position: absolute;

            }
        }
        .Buscador_div2{
            input{
                border: 1px solid blue;
                color: #01346B;
                font-weight: 600;
                height: 1.5cm;
               width: 12cm;
               border: none;
               outline: none;
               font-size: 18px;
               &::placeholder{
                color: #01346B;
                font-weight: 500;
               }
            }
        }
        .Buscador_div3{
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                height: 1.5cm;
                width: 1.5cm;
                border: none;
                border-radius: 100%;
                font-size: 25px;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #EE2A24;
                color: white;
                cursor: pointer;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
    
}