.FooterD{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background: #EFF7FF;
    .FooterD__div1{
        display: flex;
        align-items: center;
        gap: 5px;
        img{
            height: 30px;
        }
        span{
            font-size: 18px;
            font-weight: 700;
            color: #001123;
        }
    }
    .FooterD__div2{
        display: flex;
        align-items: center;
        gap: 10px;
        span{
            font-size: 16px;
            font-weight: 600;
        }
        i{
            font-size: 30px;
            color: #01346B;
            transition: 300ms;
            cursor: pointer;
            &:hover{
                font-size: 35px;
            }
        }
    }
}