.Novedades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}

.Novedades__div1{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    
    h3{
        font-size: 30px;
        color: #00244a;
    }
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #01346B;
        &:hover{
            border-bottom: 1px solid #01346B;
        }
    }

}
.Novedades__div2{
   display: flex;
    padding: 10px;
    justify-content: left;
    gap: 20px;
    align-items: center;
    width: 95%;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
   
    
}

.Novedades__Cards{
    width: 14.25cm;
    border: none ;
    box-shadow: 1px 1px 5px 5px #8080801f;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 20px;
    .NvModal{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5cm;
        width: 13.19cm;
        padding: 20px;
        background: white;
        border: none;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        h4{
            font-size: 20px;
            color: #01346B;
        }
    }
    

    
}
.Novedades__Cards img{
    height: 8cm;
    width: 14.25cm;
    border-radius: 20px;
}