
:root{
    --font_color:#01346B;
    --icon_color:#0185e8;
    --letter_font: "Inter", serif;
}



/*-------------------SERV MAS CONS---------------------*/


.card__serviciosMasC{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    gap: 30px;
}

.serv__title{
    color: #01346B;
}

.card__serv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    padding: 25px;
    width: 300px;
    height: 210px;
    
}
.card__serv h3{
    color: #01346B;

}
.card__serv p{
    font-size: 15px;
    font-weight: 300;
    margin: 0;
}
.card__serv a{
    color: #0185e8;
    font-size: 15px;
}
.ServiciosMasConsultados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    .ServiciosMasConsultados_title{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            font-size: 30px;
            color: #01346B;
            span{
                border-bottom: 5px solid #0185e8;
            }
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #01346B;
            &:hover{
                border-bottom: 1px solid #01346B;
            }
        }
    }
    .ServiciosMasConsultados_container{
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}