*{
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--letter_font);
}

:root{
    --font_color:#01346B;
    --icon_color:#0185e8;
    --letter_font: "Inter", serif;
}



/*-------------------SERV MAS CONS---------------------*/
.hr__serv{
    border: 4px solid var(--icon_color) ;
    border-radius: 0;
    width: 200px;
}

.card__serviciosMasC{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    gap: 30px;
    margin: auto;
    margin-bottom: 300px;
}

.serv__title{
    color: #01346B;
}

.card__serv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    padding: 25px;
    width: 400px;
}
.card__serv h3{
    color: #01346B;
    padding: 5px;
    padding-top:0 ;
}
.card__serv p{
    font-size: 15px;
    font-weight: 300;
    padding: 5px 7px 30px 5px;
}
.card__serv a{
    color: #0185e8;
    padding: 5px;
    font-size: 15px;
}
.ServiciosMasConsultados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}