.Servicios{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background: #EFF7FF;
}
.Servicios__div1{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Servicios__div1 h2{
    font-size: 35px;
    color: #00244a;
}
.Servicios__div1 a{
    text-decoration: none;
    color: #01346B;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 20px;
        
    }
    
    &:hover{
        text-decoration: underline;
       
    }
}
.Container__CardServices{
    display: flex;
    padding: 10px;
    justify-content: left;
    gap: 20px;
    align-items: center;
    width: 95%;
}
.Container__CardServices2{
    display: flex;
    padding: 10px;
    justify-content: left;
    gap: 20px;
    align-items: center;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}
.Container__CardServices2::-webkit-scrollbar{
    display: none;
}
.Container__BtnServices{
    width: 96% ;
    position: absolute;
    display: flex;
    justify-content: right;
    .btn{
        display: none;
    }

}
.Container__BtnServices button{
    height: 1.5cm;
    width: 1.5cm;
    font-size: 60px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #01346B;
    color: #01346B;
    cursor: pointer;
    box-shadow: 1px 1px 5px 5px #9596961a;
    &:hover{
        opacity: 0.8;
        height: 1.55cm;
        width: 1.55cm;
    }
    
}
.CardServiciosBackground{
    height: 101%;
    width: 0.5cm;
    background: #01346B;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.CardServices{
    display: flex;
    align-items: center;
    height: 5cm;
    width: 12cm;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 5px #8988881d;
    background: white;

}
.CardServices img{
    height: 110px;
}


.CardContent{
    width: 10cm;
    padding: 5px;
};
.CardContent h3{
    margin: 0;
}