.Smain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    height: 16cm;
    
    background-color: #F4F7FF;
    .Smain_div1{
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            padding: 0;
            margin: 0;
            font-size: 45px;
            color: #1B3F7E;
            animation: Anim3 2s;
        }
    }
    .h1_gd{
        font-weight: 300;
       
    }
}
@keyframes Anim3 {
    from{
        transform: scale(2)
    }
    to{
        transform: scale(1);
    }
}