.Smain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15cm;
    .Smain_div1{
        h1{
            font-size: 40px;
            color: #1B3F7E;
        }
    }
}