.Smain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15cm;
    background-color: #eff3fd;
    .Smain_div1{
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            padding: 0;
            margin: 0;
            font-size: 45px;
            color: #1B3F7E;
        }
    }
    .h1_gd{
        font-weight: 300;
        transform: translateY(-15px);
    }
}