.SobreNosotros{
    display: flex;
    padding: 40px;
    justify-content: space-around;
    margin: 25px;

    .SobreNosotros__div1{
        display: flex;
        justify-content: center;
        img{
            border-radius: 5px;
            height: 400px;
            width: 600px;
            border: 1px #d6d6d6 solid ;
        }
    }
    .SobreNosotros__div2{
        width: 50%;
        h2{
            text-align: center;
            color: #01346B ;
            font-size: 30px;
        }
        p{
            font-size: 18px;
        }
    }
}