:root{
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    
}
.SContactoH{
    height: 1cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: #2E66B1;

    .SContactoH__d1{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            color: white;
        }
        a{
            text-decoration: none;
            color: white;
        }
        
    }
    .SContactoH__d2{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        i{
            font-size: 18px;
        }
        a{
            color: white;
            text-decoration: none;
        }
        .SContactoH__d2_Email{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        .SContactoH__d2_IconoRed{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }

}