*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #161616;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: var(--letter_font);
}

strong{
    color: red;
}

:root{
    --font_color:#01346B;
    --letter_font: "Inter", serif;
}

/*-----------------------------------*/



.container_form{
    background-color: #fff;
    width: 60vw;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_form{
    margin: 50px;
    margin-bottom: 90px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_form img{
    margin-right: 10px;
    max-width: 200px;
    min-width: 100px;
}



/*-----------------------------------*/


.title{
    font-size: 25px;
    color: var(--font_color);
    font-weight: 800;
    padding-left: 0;
    padding-bottom: 20px;
}
.titulos{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    width: 90%;
}
.--form{
    padding-right: 0;
    margin-bottom: 100px;
}
.--personaldata{
    font-size: 22px;
    padding: 0;
}


.container_personaldata, .container_fecha{
    display: flex;
    justify-content: left;
    align-items:center;
    gap: 10px;
    width: 90%;
}


.container_form_personaldata{
    display: flex;
    gap: 15px;
    margin: 20px;
    margin-bottom: 90px;
    flex-wrap: wrap;
    width: 90%;
}
.input{
    padding: 10px;
    width: 250px;
    margin: 0;
    border-radius: 5px;
    border-style: solid;
    border-color: #d6d6d6;
}

.container__input h4{
    font-weight: 400;
    font-size: 15px;
    padding: 0;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 10px
}


/*-------------------------------------------*/


.container__form__ubicacion{
    margin-bottom: 300px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-direction: column;
    z-index: 3;
    
}
.container__form__ubicacion h4{
    font-weight: 400;
    font-size: 15px;
    padding: 0;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 10px
}

.ubicacion__form{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 90%;
}

.select__ubicacion{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


#ubicaciones{
    padding: 10px;
    border-color: #d6d6d6;
    border-radius: 5px;
    border-width: 2px;
}






















/*-------------------------------------------*/
.container__datepicker{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.--fecha{
    font-size: 22px;
    padding: 0;
    margin-right: 10px;
}


.datepicker-container{
    background-color: #fff;
    width: 360px;
    padding: 1rem;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.days, .dates{
    display: grid;
    grid-template-columns: repeat(7, 42px);
    gap: 7px;
    margin-block: 10px;
}


.days span{
    font-size: 16px;
    color: #01346B;
    font-weight: 600;
    text-align: center;
}

.dates button{
    background-color: #fff;
    font-family: var(--letter_font);
    border: none;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dates button:hover{
    background-color: #e0e0e0;
}
.dates button:disabled{
    pointer-events: none;
    user-select: none;
}

.dates button.today{
    background-color: #01346B;
    color: #fff;
}
.dates button.selected{
    background-color: #01346B;
    color: #fff;
}

.datepicker-container header{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.datepicker-container header select,
.datepicker-container header input{
    border: 1px solid #d6d6d6;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.datepicker-container header input{
    max-width: 64px;
}
.datepicker-container header button{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.datepicker-container header button:hover{
    background-color: #e0e0e0;
}

.datepicker-footer{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.ok, .cancel{
    background-color: #01346B;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.ok:hover{
    background-color: #004c99;
}
.cancel{
    background-color: #efefef;
    color: #000;
}
.cancel:hover{
    background-color: #e0e0e0;
}



/*------------------------------------------*/
.--hora{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px;
    
}

.--date-input{
    width: 150px;
    padding: 10px;
}