.Sheader{
    height: 2cm;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    position: sticky;
    top: 0;
    z-index: 4;
    box-shadow: 1px 1px 5px 5px #80808029;
    background: white;
    .Sheader__logo{
        height: 1cm;
        width: 4cm;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 50px;
        }
    }
    .Sheader__Nav{
        display: flex;
        gap: 20px;
        font-size: 18px;
        a{
            text-decoration: none;
            color: blue;
            transition: 300ms;
            cursor: pointer;
            &:hover{
                opacity: 0.5;
            }
        }
    }
    .BtnHeader{
        height: 1cm;
        width: 5cm;
        border: none;
        background: #00AFCA;
        color: white;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 600;
        box-shadow: 1px 1px 5px 10px #6969690e;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
   
}