:root{
    font-family: "Poppins", serif;
}
body{
    margin: 0;
}
.Gloginn{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,#01346B,#0a6bac);
    #volver{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
        margin-right: 20px;
        transition: 300ms;
        animation:  Anim2 2s;
        span{
            font-size: 20px;
        }
        i{
            font-size: 80px;
        }
        &:hover{
            transform: translateX(-5px);
            i{
                font-size: 85px;
            }
        }

    }
}

.Loginn{
    z-index: 3;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 50px 10px #80808052;
    border: 1px solid #0a6bac;
    margin-top: 20px;
    background: white;
    animation: Anim1 2s;

    padding: 15px;
    .Login__div11{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .Login__div1_dv11{
            margin-bottom: 20px;
            img{
                height: 80px;
            }
           
        }
        

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .Form__div11{
                display: flex;
                flex-direction: column;

                label{
                    font-weight: 600;
                    color: #012041;
                    span{
                        color: red;
                    }
                }

                input{
                    height: 1cm;
                    width: 8cm;
                    border-radius: 10px;
                    border: 1px solid #01346B;
                    padding-left: 10px;
                    padding-right: 10px;
                    outline-color: #01346B;
                }
                
            }
            .Form__div22{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;

                label{
                    color: #012041;
                    font-weight: 600;
                    span{
                        color: red;
                    }
                }
                input{
                    height: 1cm;
                    width: 8cm;
                    border-radius: 10px;
                    border: 1px solid #01346B;
                    padding-left: 10px;
                    padding-right: 10px;
                    outline-color: #01346B;
                }

            }

            .Form__div33{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                gap: 10px;
                button{
                    height: 1cm;
                    width: 7.15cm;
                    border-radius: 10px;
                    border: none;
                    box-shadow: 1px 1px 5px 5px #bbbbbb18;
                    background: #01346B;
                    font-size: 18px;
                    font-weight: 600;
                    color: white;
                    cursor: pointer;
                    transition: 300ms;
                    &:hover{
                        background: #0a6bac ;
                        color: white;
                    }

                }
                a{
                    text-decoration: none;
                    color: blue;
                    &:hover{
                        text-decoration: underline;
                        
                    }
                }
                
                
            }
        }
        
    }
    .Login_X{
        position: absolute;
        button{
            height: 1.2m;
            width: 1.2cm;
            font-size: 30px;
            background: white;
            border: none;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 300ms;
            &:hover{
                font-size: 40px;
            }
            
        }
    }
    .Login__div22{
        width: 70%;
        height: 15cm;
        border-radius: 20px;
        position: relative;
        display: flex;
        justify-content: right;
        #img1{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        }
    }
    
}

@keyframes Anim1 {
    from{
        transform: translateY(-1000px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes  Anim2 {
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(0px);
    }
}