.Gregistro{

    height: 100vh;
    width: 98.9vw;
    background: linear-gradient(180deg,#01346B,#0a6bac);
    display: flex;
    justify-content: center;
    align-items: center;

    
    .Gregistro_div1{
        background: white;
        border-radius: 20px;
        box-shadow: 1px 1px 80px 10px #80808049;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        animation: Anim1 2s;
        .Gregistro_div1_d1{
            padding: 10px;
            display: flex;
            gap: 10px;
            width: 97.8%;
            border-bottom: 1px solid #8080806b;
            background: #F8F8F8;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            
            h2{
                color: #1B3F7E;
            }
        }
        .Gregistro_div1_d2{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-bottom: 1px solid #6DB0E2;
            padding: 20px;
            margin-left: 10px;
            margin-right: 10px;
            gap: 10px;
            width: 90%;
            .Arrows{
                background: black;
                height: 1px;
                width: 20px;
                opacity: 0.4;
            }
            .Confirmaciones{
                display: flex;
                align-items: center;
                gap: 20px;
                span{

                    height: 30px;
                    width: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                }
                div{
                    h3{
                        margin: 0;
                    }
                    span{
                        display: block;
                        justify-content: none;
                        align-items: none;
                        height: 100%;
                        width: 100%;
                        border: none;
                        background: none;
                        color: black;
                    }
                }
            }
        }
        .Gregistro_div1_d3{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            width: 90%;
            span{
                text-align: center;
                color: #1B3F7E;
                font-size: 20px;
            }
        }
        .Formulario{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 100%;
            .Formulario_div1{
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                input{
                    width: 100%;
                    height: 1.5cm;
                    border: 1px solid gray;
                    border-radius: 5px;
                    font-size: 20px;
                }
                label{
                    position: absolute;
                    font-size: 20px;
                    margin-left: 10px;
                    color: #1B3F7E;
                    background: white;
                    span{
                        color: red;
                    }
                }
            }
            .Formulario_div2{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                width: 80%;
                padding: 20px;
                button{
                    height: 1.2cm;
                    width: 100%;
                    font-size: 20px;
                    border: 1px solid #003876;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    background: #003876;
                    color: white;
                    font-weight: 600;
                    box-shadow: 1px 1px 80px 20px #9e9e9e24;
                    transition: 300ms;
                    cursor: pointer;
                    i{
                        border: 2px solid white;
                        border-radius: 100%;
                        font-size: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                    &:hover{
                        background: #016aba;
                        border: 1px solid #016aba;
                    }
                }
                span{
                    a{
                        text-decoration: none;
                        color: blue;
                        transition: 300ms;
                        &:hover{
                            border-bottom: 1px solid blue;
                        }
                    }
                   
                }
            }
        }

        .TerminosVerificacion{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 20px;
            .TV_div1{
                width: 63%;
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 20px;
                border: 1px solid #6DB0E2;
                border-radius: 10px;
                padding: 10px;
                background: #EFF7FF;
                i{
                    font-size: 60px;
                    border-right: 1px solid #6DB0E2;
                    color: #6DB0E2;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                p{
                    color: #1B3F7E;
                    span{
                        font-weight: 600;
                    }
                }
            }
            .TV_div2{
                width: 63%;
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 20px;
                border: 1px solid #6DB0E2;
                border-radius: 10px;
                padding: 10px;
                background: #EFF7FF;
                i{
                    font-size: 60px;
                    border-right: 1px solid #6DB0E2;
                    color: #6DB0E2;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                p{
                    color: #1B3F7E;
                    span{
                        font-weight: 600;
                    }
                }
            }
            .TV_div3{
                width: 63%;
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 20px;
                border: 1px solid #6DB0E2;
                border-radius: 10px;
                padding: 10px;
                background: #EFF7FF;
                i{
                    font-size: 60px;
                    border-right: 1px solid #6DB0E2;
                    color: #6DB0E2;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                p{
                    color: #1B3F7E;
                    span{
                        font-weight: 600;
                    }
                }
            }
            .TV_formulario{
                width: 63%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                div{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        color: #003876;
                        font-weight: 500;
                    }
                    button{
                        height: 1.2cm;
                        width: 100%;
                        border: 1px solid #003876;
                        background: #003876;
                        border-radius: 25px;
                        box-shadow: 1px 1px 5px 5px #80808032;
                        font-size: 16px;
                        text-transform: uppercase;
                        color: white;
                    }
                }
            }
            .TV_div4{
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                    background: none;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    font-size: 18px;
                    font-weight: 600;
                    color: gray;
                    cursor: pointer;
                    i{
                        font-size: 14px;
                        border: 2px solid gray;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }












    }
}

.Verificacion{
    opacity: 0.8;
    span{
        background: #9E9E9E;
        color: white;
    }
}
.Registro{
    opacity: 0.8;
    span{
        background: #9E9E9E;
        color: white;
    }
}
.Identificación{
    span{
        background: #6DB0E2;
        color: white;
        
    }
}
.ModalCamara{
    padding: 0;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 10px #80808020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    

   div{
    display: flex;
    gap: 70px;
    padding: 10px;
    button{
        height: 1.1cm;
        width: 5cm;
        border: none;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 500;
        color: white;
        background: #003876;
        box-shadow: 1px 1px 5px 5px #80808015;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
    
    }
    .btnNoTomarF{
        background: #9E9E9E;
        box-shadow: 1px 1px 5px 5px #80808015;
    }
    .btnContinuar{
        height: 1cm;
        width: 5cm;
    }
    
   }

    video{
       
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    canvas{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}
.GFormularioRegistro{
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .FormularioRegistro{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        button{
            height: 1.4cm;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1px solid #003876;
            border-radius: 30px;
            background: #003876;
            box-shadow: 1px 1px 5px 5px rgba(128, 128, 128, 0.121);
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: 300ms;
            i{
                height: 20px;
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid white;
                border-radius: 100%;
                color: white;
                font-weight: 600;
            }
            &:hover{
                opacity: 0.7;
            }
        }
    }
    #FormularioRegistro_div1{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-bottom: 10px;
        label{
            font-size: 18px;
            position: absolute;
            color: #1B3F7E;
            font-weight: 500;
            padding: 10px;
            &::after{
                content: '*';
                color: red;
            }
        }
        input{
            height: 1.4cm;
            border: 1px solid #003876;
            border-radius: 10px;
            padding: 5px;
            font-size: 20px;
            outline-color: #003876;


        }
    }
    #FormularioRegistro_div2{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-bottom: 10px;
        gap: 10px;
        label{
            font-size: 18px;
            padding: 10px;
            position: absolute;
            color: #1B3F7E;
            font-weight: 500;
            &::after{
                content: '*';
                color: red;
            }
        }
        input{
            height: 1.4cm;
            border: 1px solid #003876;
            border-radius: 10px;
            padding: 5px;
            font-size: 20px;
            outline-color: #003876;

        }
    }
    #FormularioRegistro_div3{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-bottom: 10px;
        label{
            font-size: 18px;
            padding: 10px;
            position: absolute;
            color: #1B3F7E;
            font-weight: 500;
            &::after{
                content: '*';
                color: red;
            }
        }
        input{
            height: 1.4cm;
            border: 1px solid #003876;
            border-radius: 10px;
            padding: 5px;
            font-size: 20px;
            outline-color: #003876;

        }
    }
    #FormularioRegistro_div4{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-bottom: 10px;
        label{
            font-size: 18px;
            padding: 10px;
            position: absolute;
            color: #1B3F7E;
            font-weight: 500;
            &::after{
                content: '*';
                color: red;
            }
        }
        input{
            height: 1.4cm;
            border: 1px solid #003876;
            border-radius: 10px;
            padding: 5px;
            font-size: 20px;
            outline-color: #003876;


        }
    }
}