.Smain{
    height: 650px;
    display: flex;
    position: relative;
    align-items: center;
    .Smain__background{
        width: 30%;
        height: 100%;
        background: #01346B;
    }
    .Smain__Card{
        height: 8cm;
        width: 12cm;
        padding: 20px;
        margin-left: 200px;
        position: absolute;
        background: white;
        border: 5px solid;
        border-style:groove;
        border-top-color: #00AFCA;
        border-left-color: #2E66B1;
        border-right-color: #F27320;
        border-bottom-color: #FCBE0F;
        border-radius: 20px;
        box-shadow: 1px 1px 30px 5px #80808018;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        h1{
            font-size: 32px;
            text-align: center;
            margin: 0;
        }
        button{
            height: 1cm;
            width: 6cm;
            font-size: 14px;
            font-weight: 600;
            border: 1px solid #0199b1;
            border-radius: 20px;
            background: #00AFCA;
            color: white;
        }
    }
    
        img{
            width: 72%;
            height: 100%;
        }

}