.Smain{
    width: 100vw;
    height: 600px;
    display: flex;
    position: relative;
    align-items: center;
    .Smain__background{
        width: 30%;
        height: 100%;
        background: gray;
    }
    .Smain__Card{
        height: 10cm;
        width: 10cm;
        padding: 20px;
        margin-left: 200px;
        position: absolute;
        background: white;
        border: 1px solid black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        h1{
            font-size: 30px;
            text-align: center;
        }
        button{
            height: 1cm;
            width: 6cm;
            font-size: 14px;
            font-weight: 600;
            border: 1px solid black;
            border-radius: 20px;
        }
    }
    
        img{
            width: 70%;
            height: 100%;
        }

}