.SobreNosotros{
    display: flex;
    padding: 40px;
    justify-content: space-around;
    border: 1px solid black;
    .SobreNosotros__div1{
        img{
            height: 400px;
        }
    }
    .SobreNosotros__div2{
        width: 50%;
        h2{
            font-size: 30px;
        }
        p{
            font-size: 18px;
        }
    }
}